In [476]:
import numpy as np
import pandas as pd
import re

In [477]:
energia = pd.read_excel('DataOfModule3/Energy_Indicators.xls', sheet_name='Energy2')

In [478]:
energia.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [479]:
energia.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0         Albania           102                       35       100.00
1         Algeria         1 959                       51         0.55
2  American Samoa           ...                      ...         0.64
3         Andorra             9                      121        88.70
4          Angola           642                       27        70.91

In [480]:
for c in energia.columns:
    energia.loc[energia[c] == '...', c] = np.nan

In [481]:
energia.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0         Albania           102                       35       100.00
1         Algeria         1 959                       51         0.55
2  American Samoa           NaN                      NaN         0.64
3         Andorra             9                      121        88.70
4          Angola           642                       27        70.91

In [482]:
energia['Energy Supply'] = pd.to_numeric(energia['Energy Supply'], errors='coerce')
energia['Energy Supply'] = energia['Energy Supply'] * 1_000_000

In [483]:
energia.head()

          Country  Energy Supply Energy Supply per Capita  % Renewable
0         Albania    102000000.0                       35       100.00
1         Algeria            NaN                       51         0.55
2  American Samoa            NaN                      NaN         0.64
3         Andorra      9000000.0                      121        88.70
4          Angola    642000000.0                       27        70.91

In [484]:
# energia[energia['Country'] == 'Republic of Korea']
'Republic of Korea' in energia['Country'].unique()
# for c in energia['Country'].unique():
#     if 'Republic' in c:
#         print(c)
#     if 'Korea' in c:
#         print(c)

True

In [485]:
energia['Country'] = energia['Country'].replace({"Republic of Korea": "South Korea", 
                            "United States of America20": "United States", 
                            "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", 
                            "China, Hong Kong Special Administrative Region3n": "Hong Kong"
                        })

In [486]:
def formating(item):
    item= re.sub(r'\(.*?\)', '', item)
    item= re.sub(r"\d+", '', item)
    item= re.sub(r'\s$', '', item)
    return item



energia['Country'] = energia['Country'].apply(formating)

In [487]:
energia['Country'].unique()

array(['Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire, Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'China, Hong Kong Special Administrative Region',
       'China, Macao Special Administrative Region', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'South Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [488]:
dgp = pd.read_csv('DataOfModule3/world_bank.csv', skiprows=4)
dgp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [489]:
dgp['Country Name'] = dgp['Country Name'].replace({
                                                    "Korea, Rep.": "South Korea", 
                                                    "Iran, Islamic Rep.": "Iran",
                                                    "Hong Kong SAR, China": "Hong Kong"

                                                })

In [490]:
dgp.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'],
      dtype='object')

In [491]:
dgp = dgp[['Country Name', 'Indicator Code','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']]

In [492]:
dgp.head()
dgp[dgp['Country Name'] == 'Iran']

,Country Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
109,Iran,NY.GDP.MKTP.KD,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN

In [493]:
scimem = pd.read_excel('DataOfModule3/scimagojr-3.xlsx')
scimem.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [494]:
scimem = scimem.head(16)

In [495]:
print(energia.head())
print(energia.shape)

          Country  Energy Supply Energy Supply per Capita  % Renewable
0         Albania    102000000.0                       35       100.00
1         Algeria            NaN                       51         0.55
2  American Samoa            NaN                      NaN         0.64
3         Andorra      9000000.0                      121        88.70
4          Angola    642000000.0                       27        70.91
(226, 4)

In [496]:
print(dgp.head(1))
print(dgp.shape)

  Country Name  Indicator Code  2006  2007  2008  2009          2010  2011  \
0        Aruba  NY.GDP.MKTP.KD   NaN   NaN   NaN   NaN  2.467704e+09   NaN

   2012  2013  2014  2015
0   NaN   NaN   NaN   NaN
(264, 12)

In [497]:
print(scimem.head())
print(scimem.shape)
print(scimem['Country'].unique())

   Rank             Country  Documents  Citable documents  Citations  \
0     1               China     127050             126767     597237
1     2       United States      96661              94747     792274
2     3               Japan      30504              30287     223024
3     4      United Kingdom      20944              20357     206091
4     5  Russian Federation      18534              18301      34266

   Self-citations  Citations per document  H index
0          411683                    4.70      138
1          265436                    8.20      230
2           61554                    7.31      134
3           37874                    9.84      139
4           12422                    1.85       57
(16, 8)
['China' 'United States' 'Japan' 'United Kingdom' 'Russian Federation'
 'Canada' 'Germany' 'India' 'France' 'South Korea' 'Italy' 'Spain' 'Iran'
 'Australia' 'Brazil' 'Taiwan']

In [498]:
df = pd.merge(scimem, energia, how='inner', on='Country')

In [499]:
df['Country'].unique()

array(['China', 'United States', 'Japan', 'United Kingdom',
       'Russian Federation', 'Canada', 'Germany', 'India', 'France',
       'South Korea', 'Italy', 'Spain', 'Iran', 'Australia', 'Brazil'],
      dtype=object)

In [500]:
# df = pd.merge(df, dgp, how='inner', left_on='Country', right_on='Country Name')

In [501]:
# # df.drop(columns='Country Name', inplace=True, errors='ignore')
# # df.drop(columns='Indicator Code', inplace=True, errors='ignore')
# # df.set_index('Country', inplace=True)

In [502]:
df.shape

(15, 11)