In [31]:
import pandas as pd

In [43]:
df1 = pd.DataFrame([
    {'FirstName': 'João', 'LastName': 'Da Silva', 'Test2': 'A' },
    {'FirstName': 'Pedro', 'LastName': 'Silva', 'Test2': 'A' },
                    
                    ])
df2 = pd.DataFrame([{'FirstName': 'João', 'LastName': 'Da Silva', 'Test1': 'B'}])

In [44]:
df1

  FirstName  LastName Test2
0      João  Da Silva     A
1     Pedro     Silva     A

In [45]:
df2

  FirstName  LastName Test1
0      João  Da Silva     B

In [59]:
r = pd.merge(df1, df2, how='right', on=['FirstName', 'LastName'])

In [60]:
r

  FirstName  LastName Test2 Test1
0      João  Da Silva     A     B

In [50]:
pd.Period('01/12/2019', 'M')

Period('2019-01', 'M')