In [99]:
import pandas as pd
import numpy as np

## Timestamp

In [100]:
pd.Timestamp('07/11/2005 22:05')

Timestamp('2005-07-11 22:05:00')

In [101]:
pd.Timestamp(2005, 7, 11, 0, 30)

Timestamp('2005-07-11 00:30:00')

In [102]:
pd.Timestamp(2005, 7, 11, 0, 30).isoweekday()

1

In [103]:
pd.Timestamp(2005, 7, 11, 0, 30, 1, 2).minute

30

## Period

In [104]:
pd.Period('2019-1')

Period('2019-01', 'M')

In [105]:
pd.Period('2019-1-2 10:10:10')

Period('2019-01-02 10:10:10', 's')

In [106]:
pd.Period('2019-1-2 10:10:10') + 35

Period('2019-01-02 10:10:45', 's')

In [107]:
pd.Period('2019-1') + 5

Period('2019-06', 'M')

In [108]:
pd.Period('2019-1-25') - 365

Period('2018-01-25', 'D')

## Datetimeindex and PeriodIndex

In [109]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [110]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [111]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), 
                             pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [112]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

## Converting to datetime

In [113]:
d1 = ['2 June 2013', 'Aug 29 2014', '2015-06-26', '7/12/16']

# And just some random data
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, 
                   columns=list('ab'))


ts3

              a   b
2 June 2013  98  78
Aug 29 2014  65  81
2015-06-26   72  95
7/12/16      32  73

In [114]:
# type: ignore
ts3.index = [
        pd.to_datetime(index)
        for index in ts3.index
            ]

In [115]:
ts3.index

DatetimeIndex(['2013-06-02', '2014-08-29', '2015-06-26', '2016-07-12'], dtype='datetime64[ns]', freq=None)

## Timedelta

In [116]:
r=pd.Timestamp('7/11/2005')-pd.Timestamp('12/1/1975')

In [117]:
r

Timedelta('10815 days 00:00:00')

In [118]:
pd.Timestamp('7/11/2005') + pd.Timedelta('12D 8H')

C:\Users\kauek\AppData\Local\Temp\ipykernel_20612\2899833576.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  pd.Timestamp('7/11/2005') + pd.Timedelta('12D 8H')

Timestamp('2005-07-23 08:00:00')

## Offset

In [119]:
pd.Timestamp('12/02/1975').weekday()

1

In [120]:
pd.Timestamp('12/02/1975') + pd.offsets.Week()

Timestamp('1975-12-09 00:00:00')

In [121]:
pd.Timestamp('11/2005') + pd.offsets.MonthBegin()

Timestamp('2005-12-01 00:00:00')

In [122]:
pd.Timestamp('11/2005') + pd.offsets.MonthEnd()

Timestamp('2005-11-30 00:00:00')

## Working with Dates in a Dataframe

In [123]:
dates = pd.date_range('11/7/2005', periods=10, freq='2W-MON')
dates

DatetimeIndex(['2005-11-07', '2005-11-21', '2005-12-05', '2005-12-19',
               '2006-01-02', '2006-01-16', '2006-01-30', '2006-02-13',
               '2006-02-27', '2006-03-13'],
              dtype='datetime64[ns]', freq='2W-MON')

In [124]:
pd.date_range('10-1-2016', periods=10, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13', '2016-10-14'],
              dtype='datetime64[ns]', freq='B')

In [125]:
pd.date_range('1-2024', periods=10, freq='QS-JAN')

DatetimeIndex(['2024-01-01', '2024-04-01', '2024-07-01', '2024-10-01',
               '2025-01-01', '2025-04-01', '2025-07-01', '2025-10-01',
               '2026-01-01', '2026-04-01'],
              dtype='datetime64[ns]', freq='QS-JAN')

In [126]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)

In [127]:
df

            Count 1  Count 2
2016-10-02      107      127
2016-10-16      103      123
2016-10-30      110      123
2016-11-13      109      123
2016-11-27      108      126
2016-12-11      111      115
2016-12-25      109      126
2017-01-08      118      124
2017-01-22      120      129

In [128]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16     -4.0     -4.0
2016-10-30      7.0      0.0
2016-11-13     -1.0      0.0
2016-11-27     -1.0      3.0
2016-12-11      3.0    -11.0
2016-12-25     -2.0     11.0
2017-01-08      9.0     -2.0
2017-01-22      2.0      5.0

In [129]:
df.resample('M').mean()

C:\Users\kauek\AppData\Local\Temp\ipykernel_20612\1818180140.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M').mean()

               Count 1     Count 2
2016-10-31  106.666667  124.333333
2016-11-30  108.500000  124.500000
2016-12-31  110.000000  120.500000
2017-01-31  119.000000  126.500000

In [133]:
df

            Count 1  Count 2
2016-10-02      107      127
2016-10-16      103      123
2016-10-30      110      123
2016-11-13      109      123
2016-11-27      108      126
2016-12-11      111      115
2016-12-25      109      126
2017-01-08      118      124
2017-01-22      120      129

In [135]:
df['2016/10':'2016/12']

            Count 1  Count 2
2016-10-02      107      127
2016-10-16      103      123
2016-10-30      110      123
2016-11-13      109      123
2016-11-27      108      126
2016-12-11      111      115
2016-12-25      109      126