In [71]:
import pandas as pd
import numpy as np

In [58]:
data = {
    'store_id': ['A', 'A', 'B', 'B', 'A', 'C', 'B'],
    'date': ['2024-01-10', '2024-01-15', '2024-01-12', '2024-02-01', '2024-02-20', '2024-02-18', '2024-03-10'],
    'sales_amount': [200, 150, 300, 450, 250, 350, 400]
}

df = pd.DataFrame(data)

In [59]:
df.head()

  store_id        date  sales_amount
0        A  2024-01-10           200
1        A  2024-01-15           150
2        B  2024-01-12           300
3        B  2024-02-01           450
4        A  2024-02-20           250

In [60]:
month = [date[5:7]
    for date in df['date']
]
df['month'] = month
df = df.set_index(['store_id', 'month'])

In [67]:
df.head(10)

                      date  sales_amount
store_id month
A        01     2024-01-10           200
         01     2024-01-15           150
B        01     2024-01-12           300
         02     2024-02-01           450
A        02     2024-02-20           250
C        02     2024-02-18           350
B        03     2024-03-10           400

In [62]:
for group, frame in df.groupby(level=(0, 1)):
    print(group)

('A', '01')
('A', '02')
('B', '01')
('B', '02')
('B', '03')
('C', '02')

In [75]:
def group_by_date(item):
    if item[1] == '01':
        return (item[0], item[1])
    elif item[1] == '02':
        return (item[0], item[1])
    else:
        return (item[0], item[1])

for group, frame in df.groupby(by=group_by_date):
    avg = np.average(frame['sales_amount'])
    print(group, avg)

Traceback (most recent call last):
  File "c:\Users\kauek\OneDrive\Área de Trabalho\DataScienceUM\venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_bundle\pydevd_vars.py", line 624, in change_attr_expression
    value = eval(expression, frame.f_globals, frame.f_locals)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1
    date  sales_amountstore_id month                          A        01     2024-01-10           200         01     2024-01-15           150
                                                                       ^
SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers

('A', '01') 175.0
('A', '02') 250.0
('B', '01') 300.0
('B', '02') 450.0
('B', '03') 400.0

KeyboardInterrupt:

In [78]:
data = {
    'product': ['Laptop', 'Laptop', 'Smartphone', 'Smartphone', 'Tablet', 'Laptop', 'Tablet', 'Smartphone', 'Tablet'],
    'store': ['Store A', 'Store B', 'Store A', 'Store B', 'Store A', 'Store A', 'Store B', 'Store A', 'Store B'],
    'quantity': [5, 3, 10, 7, 2, 6, 3, 8, 4]
}
df = pd.DataFrame(data)
df.head()

      product    store  quantity
0      Laptop  Store A         5
1      Laptop  Store B         3
2  Smartphone  Store A        10
3  Smartphone  Store B         7
4      Tablet  Store A         2

In [79]:
df = df.set_index(['product', 'store'])
;df.head()

                    quantity
product    store
Laptop     Store A         5
           Store B         3
Smartphone Store A        10
           Store B         7
Tablet     Store A         2

In [84]:
def group_by_store(item):
    if item[1] == 'Store A':
        return (f'{item[0]} in {item[1]}: ')
    else:
        return (f'{item[0]} in {item[1]}: ')


for group, frame in df.groupby(group_by_store):
    avg = frame['quantity'].sum()
    print(group, avg)
    # print(max(group))

Laptop in Store A:  11
Laptop in Store B:  3
Smartphone in Store A:  18
Smartphone in Store B:  7
Tablet in Store A:  2
Tablet in Store B:  7