Escala Nominal : Cores de carros, tipos de frutas, códigos postais.

Escala Ordinal : Classificação de satisfação (Muito insatisfeito, Insatisfeito, Neutro, Satisfeito, Muito satisfeito).

Escala Intervalar : Temperatura em Celsius ou Fahrenheit, onde 0 graus não significa a ausência de temperatura.

Escala de Razão : Altura, peso, tempo (duração em segundos), onde 0 representa a ausência completa da quantidade medida.

In [15]:
import pandas as pd

In [16]:
df=pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 
                       'ok', 'ok', 'ok', 'poor', 'poor'],
               columns=["Grades"])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [17]:
df.dtypes

Grades    object
dtype: object

In [18]:
df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [28]:
my_categories=pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], 
                           ordered=True)

grades=df['Grades'].astype(my_categories)

grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [29]:
df[df['Grades'] > 'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [30]:
grades[grades>'C']

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [31]:
import numpy as np

In [51]:
df = pd.read_csv('DataOfModule3/census.csv')
df = df[df['SUMLEV'] == 50]
df = df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)
df = df.apply(lambda x: int(x))
df.head(10)

STNAME
Alabama                  71339
Alaska                   24490
Arizona                 426134
Arkansas                 38878
California              642309
Colorado                 78581
Connecticut             446762
Delaware                299311
District of Columbia    601723
Florida                 280616
Name: CENSUS2010POP, dtype: int64

In [52]:
print(df.min())
print(df.max())

12336
642309

In [56]:
pd.cut(df, 10) # type: ignore

STNAME
Alabama                 (11706.027, 75333.3]
Alaska                  (11706.027, 75333.3]
Arizona                 (390319.8, 453317.1]
Arkansas                (11706.027, 75333.3]
California              (579311.7, 642309.0]
Colorado                 (75333.3, 138330.6]
Connecticut             (390319.8, 453317.1]
Delaware                (264325.2, 327322.5]
District of Columbia    (579311.7, 642309.0]
Florida                 (264325.2, 327322.5]
Georgia                 (11706.027, 75333.3]
Hawaii                  (264325.2, 327322.5]
Idaho                   (11706.027, 75333.3]
Illinois                 (75333.3, 138330.6]
Indiana                 (11706.027, 75333.3]
Iowa                    (11706.027, 75333.3]
Kansas                  (11706.027, 75333.3]
Kentucky                (11706.027, 75333.3]
Louisiana               (11706.027, 75333.3]
Maine                    (75333.3, 138330.6]
Maryland                (201327.9, 264325.2]
Massachusetts           (453317.1, 516314.4]
Michigan                 (75333.3, 138330.6]
Minnesota               (11706.027, 75333.3]
Mississippi             (11706.027, 75333.3]
Missouri                (11706.027, 75333.3]
Montana                 (11706.027, 75333.3]
Nebraska                (11706.027, 75333.3]
Nevada                  (138330.6, 201327.9]
New Hampshire            (75333.3, 138330.6]
New Jersey              (390319.8, 453317.1]
New Mexico              (11706.027, 75333.3]
New York                (264325.2, 327322.5]
North Carolina           (75333.3, 138330.6]
North Dakota            (11706.027, 75333.3]
Ohio                     (75333.3, 138330.6]
Oklahoma                (11706.027, 75333.3]
Oregon                   (75333.3, 138330.6]
Pennsylvania            (138330.6, 201327.9]
Rhode Island            (201327.9, 264325.2]
South Carolina           (75333.3, 138330.6]
South Dakota            (11706.027, 75333.3]
Tennessee               (11706.027, 75333.3]
Texas                    (75333.3, 138330.6]
Utah                     (75333.3, 138330.6]
Vermont                 (11706.027, 75333.3]
Virginia                (11706.027, 75333.3]
Washington              (138330.6, 201327.9]
West Virginia           (11706.027, 75333.3]
Wisconsin                (75333.3, 138330.6]
Wyoming                 (11706.027, 75333.3]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64, right]): [(11706.027, 75333.3] < (75333.3, 138330.6] < (138330.6, 201327.9] < (201327.9, 264325.2] ... (390319.8, 453317.1] < (453317.1, 516314.4] < (516314.4, 579311.7] < (579311.7, 642309.0]]