In [3]:
import pandas as pd
df = pd.read_csv('DataOfModule2/NISPUF17.csv')
df.head(10)

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
5,6,207941,20794,2,NaN,35.995367,1019,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
7,8,182861,18286,1,313.225832,163.213401,1001,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
8,9,161121,16112,1,978.042448,718.616990,1016,2017,3.0,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0
9,10,143401,14340,2,NaN,1536.859533,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['EDUC1'].head(10)

0    4
1    3
2    3
3    4
4    1
5    3
6    4
7    3
8    2
9    3
Name: EDUC1, dtype: int64

In [8]:
df['EST_GRANT'].head()

0    31
1    68
2    50
3    40
4     8
Name: EST_GRANT, dtype: int64

In [13]:
df['EDUC1'].unique()

array([4, 3, 1, 2])

In [12]:
df['M_AGEGRP2'].unique()

array([2, 1])