In [1]:
import pandas as pd

In [3]:
student= ['Alice', 'Jack', 'Molly']


pd.Series(student)

0    Alice
1     Jack
2    Molly
dtype: object

In [5]:
num=[10, 20, 30, 40, 50, 60]
pd.Series(num)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [6]:
student= ['Alice', 'Jack', 'Molly', None]


pd.Series(student)

0    Alice
1     Jack
2    Molly
3     None
dtype: object

In [7]:
num=[11, 22, 33, 44, None]


pd.Series(num)

0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
dtype: float64

In [10]:
import numpy as np

np.nan == None

False

In [11]:
np.nan == np.nan

False

In [13]:
x = np.nan
print(np.isnan(x))

True

In [15]:
students_scores = {
    'Alice': 'Physic',
    'Jack': 'Chemistry',
    'Molly': 'English',
}

s = pd.Series(students_scores)
s

Alice       Physic
Jack     Chemistry
Molly      English
dtype: object

In [16]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [19]:
students = [('Alice', 'Brown'), ('Jack', 'White'), ('Molly', 'Green')]
pd.Series(students)
s

Alice       Physic
Jack     Chemistry
Molly      English
dtype: object

In [21]:
s = pd.Series(['Physics', 'Chemistry', 'English'], index=['Alice', 'Jack', 'Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [23]:
students_scores = {
    'Alice': 'Physic',
    'Jack': 'Chemistry',
    'Molly': 'English',
}

s = pd.Series(students_scores, index=['Jack', 'Alice', 'Kauê'])
s

Jack     Chemistry
Alice       Physic
Kauê           NaN
dtype: object