Atributo "iloc" para procurar pelo indice, e "loc" para procurar por indices rotulados.

In [59]:
import pandas as pd

students_scores = {
    'Alice': 'Physic',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}

s = pd.Series(students_scores)

In [60]:
print(s.iloc[3])
# OR
print(s.loc['Sam'])
# OR
print(s[3])
# OR
print(s['Sam'])

History
History
History
History

C:\Users\kauek\AppData\Local\Temp\ipykernel_9728\1612698387.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[3])

In [61]:
class_code = {99: 'Physics',
              100: 'Chemistry',
              101: 'English',
              102: 'History'}
s = pd.Series(class_code)

In [62]:
# s[0] NÃO FUNCIONA, FUNCIONA APENAS COM ILOC, POIS NÃO TEM INDEX '0' NA SERIES
s.iloc[0]

'Physics'

In [63]:
grades = pd.Series([90, 80, 70, 60])
grades.mean()

np.float64(75.0)

In [64]:
import numpy as np

print(np.sum(grades) / len(grades))
print(np.mean(grades))

75.0
75.0

In [65]:
numbers = pd.Series(np.random.randint(0, 1000, 10000))

numbers.head()

0    106
1    354
2    481
3    807
4    703
dtype: int32

In [66]:
len(numbers)

10000

In [67]:
%%timeit -n 1000

total = 0
for n in numbers:
    total+=n

total/len(numbers)

1.01 ms ± 80.8 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [68]:
%%timeit -n 1000

total = np.sum(numbers)
total/len(numbers)

19.9 μs ± 2.35 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [69]:
%%timeit -n 1000
numbers.mean()

17.2 μs ± 1.41 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [70]:
numbers.head()

0    106
1    354
2    481
3    807
4    703
dtype: int32

In [72]:
numbers+=2
numbers.head()

0    110
1    358
2    485
3    811
4    707
dtype: int32

In [75]:
for label, value in numbers.items():
    numbers.iat[label] = value+2

In [76]:
numbers.head()

0    112
1    360
2    487
3    813
4    709
dtype: int32

In [77]:
%%timeit -n 10
s=pd.Series(np.random.randint(0, 1000, 1000))

for i, value in s.items():
    s.loc[i] = value+2

23.6 ms ± 3.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [78]:
%%timeit -n 10
s=pd.Series(np.random.randint(0, 1000, 1000))

s+=2

165 μs ± 46.8 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [83]:
s = pd.Series([1, 2, 3])
s.loc['Math'] = 4
s

0       1
1       2
2       3
Math    4
dtype: int64

In [84]:
students_classes = pd.Series({'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'})
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [85]:
kelly_classes = pd.Series(['Math', 'Arts', 'Portuguese'], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly          Math
Kelly          Arts
Kelly    Portuguese
dtype: object

In [87]:
all_students_classes = pd.concat([students_classes, kelly_classes])
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly          Math
Kelly          Arts
Kelly    Portuguese
dtype: object