In [143]:
import pandas as pd
df = pd.read_csv('DataOfModule2/NISPUF17.csv')
df.head(10)

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
5,6,207941,20794,2,NaN,35.995367,1019,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
7,8,182861,18286,1,313.225832,163.213401,1001,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
8,9,161121,16112,1,978.042448,718.616990,1016,2017,3.0,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0
9,10,143401,14340,2,NaN,1536.859533,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Question 1

1 - Sem HighSchool < 12Y
2 - Com HighSchool = 12y
3 - Com HighSchool > 12y, sem graduate
4 - Com Graduate

In [144]:
df['EDUC1'].unique()

array([4, 3, 1, 2])

In [145]:
def proportion_of_education(row):
    # your code goes here
    # YOUR CODE HERE

    # import pandas as pd
    
    # df = pd.read_csv('assets/NISPUF17.csv', index_col=0)

    dict = {
        "less than high school": round((sum(df['EDUC1'] == 1) / len(df)) * 100, 2),
        "high school": round((sum(df['EDUC1'] == 2) / len(df)) * 100, 2),
        "more than high school but not college": round((sum(df['EDUC1'] == 3) / len(df)) * 100, 2),
        "college": round((sum(df['EDUC1'] == 4) / len(df)) * 100, 2)}
    return dict
    raise NotImplementedError()

In [146]:
proportion_of_education(df)

{'less than high school': 10.2,
 'high school': 17.24,
 'more than high school but not college': 24.59,
 'college': 47.97}

# Question 2

Devolver uma tupla do número médio de vacinas contra a gripe para as crianças que sabemos que receberam leite materno em criança e para as que sabem que não receberam.

In [147]:
df['P_NUMFLU'].fillna(0, inplace=True)

C:\Users\kauek\AppData\Local\Temp\ipykernel_904\586386051.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['P_NUMFLU'].fillna(0, inplace=True)

In [148]:
df['P_NUMFLU'].unique()

array([0., 3., 2., 1., 4., 5., 6.])

In [149]:
# m = df['CBF_01'] == 1

# df[m][(sum(df['P_NUMFLU']) / len(df))]

1 - Sim 
2 - não
77 - Não sabe
99 - Em falta

In [150]:
df['P_NUMFLU'].unique()

array([0., 3., 2., 1., 4., 5., 6.])

In [151]:
df['CBF_01'].unique()

array([ 1,  2, 99, 77])

In [152]:
mask = df['CBF_01'] == 1

# df[mask][sum(df['CBF_01']) / len(df)]

In [153]:
copy_df = df[mask]
copy_df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
6,7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
7,8,182861,18286,1,313.225832,163.213401,1001,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
8,9,161121,16112,1,978.042448,718.616990,1016,2017,3.0,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0

In [154]:
sum(copy_df['P_NUMFLU']) / len(copy_df)

1.0298833518816206

In [155]:
def average_influenza_doses(row):
    # YOUR CODE HERE

    import pandas as pd
    
    df = pd.read_csv('assets/NISPUF17.csv', index_col=0)
    
    copy_df_yes = df[df['CBF_01'] == 1]
    copy_df_no = df[df['CBF_01'] == 2]
    

    x = round(copy_df_yes['P_NUMFLU'].mean(), 2)
    y = round(copy_df_no['P_NUMFLU'].mean(), 2)
    return (x, y)
    raise NotImplementedError()

In [156]:
average_influenza_doses(df)

FileNotFoundError: [Errno 2] No such file or directory: 'assets/NISPUF17.csv'

# Question 3

In [ ]:
df['P_NUMVRC'].unique()

array([nan,  1.,  0.,  2.,  3.])

In [ ]:
df['HAD_CPOX'].unique()

array([ 2,  1, 77, 99])

In [ ]:
def chickenpox_by_sex():
    # YOUR CODE HERE

    

    return {"male":0.2, "female":0.4}
    raise NotImplementedError()

In [157]:
df['P_NUMVRC'].dropna()

3        1.0
4        0.0
6        1.0
7        0.0
8        0.0
        ...
28446    1.0
28447    1.0
28449    1.0
28452    1.0
28454    1.0
Name: P_NUMVRC, Length: 15333, dtype: float64

In [ ]:
maskl1 = df['SEX'] =

In [159]:
df['SEX'].unique()

array([1, 2])

1 - Male

2 - Female

In [178]:
ratio_male = len((df[df['P_NUMVRC'] >= 1]) & (df[df['HAD_CPOX'] == 1]))
ratio_male

TypeError: unsupported operand type(s) for &: 'float' and 'bool'