In [11]:
import pandas as pd
import numpy as np

import scipy

# Hipotese alternativa e Hipotese nula

In [12]:
df = pd.read_csv('DataOfModule4/grades.csv')
df.head(2)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000

In [13]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
late_finishers = df[pd.to_datetime(df['assignment1_submission']) > '2016']
# ORRRR
# late_finishers=df[~df.index.isin(early_finishers.index)]
 
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [14]:
early_finishers['assignment1_grade'].mean()

np.float64(74.94728457024304)

In [15]:
late_finishers['assignment1_grade'].mean()

np.float64(74.0450648477065)

In [16]:
from scipy.stats import ttest_ind

In [17]:
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

TtestResult(statistic=np.float64(1.3223540853721598), pvalue=np.float64(0.18618101101713855), df=np.float64(2313.0))

In [18]:
early_finishers.columns

Index(['student_id', 'assignment1_grade', 'assignment1_submission',
       'assignment2_grade', 'assignment2_submission', 'assignment3_grade',
       'assignment3_submission', 'assignment4_grade', 'assignment4_submission',
       'assignment5_grade', 'assignment5_submission', 'assignment6_grade',
       'assignment6_submission'],
      dtype='object')

In [19]:
type(early_finishers['assignment1_grade'])

pandas.core.series.Series

In [22]:
print(ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade']))
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment4_grade']))

TtestResult(statistic=np.float64(1.3223540853721598), pvalue=np.float64(0.18618101101713855), df=np.float64(2313.0))
TtestResult(statistic=np.float64(1.2514717608216366), pvalue=np.float64(0.2108889627004424), df=np.float64(2313.0))
TtestResult(statistic=np.float64(1.6133726558705392), pvalue=np.float64(0.10679998102227865), df=np.float64(2313.0))
TtestResult(statistic=np.float64(0.049671157386456125), pvalue=np.float64(0.960388729789337), df=np.float64(2313.0))
TtestResult(statistic=np.float64(-0.05279315545404755), pvalue=np.float64(0.9579012739746492), df=np.float64(2313.0))
TtestResult(statistic=np.float64(-17.63619114604756), pvalue=np.float64(2.052132776761959e-65), df=np.float64(2313.0))

In [23]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])

In [25]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.566616,0.500283,0.192815,0.056578,0.962825,0.543796,0.463649,0.599847,0.767128,0.357236,...,0.844387,0.545594,0.084622,0.892415,0.818345,0.514815,0.587529,0.589634,0.411368,0.200618
1,0.297809,0.465763,0.449084,0.314781,0.273758,0.605666,0.640018,0.316613,0.507547,0.738311,...,0.399312,0.843406,0.223964,0.457958,0.567916,0.785234,0.885669,0.932554,0.846485,0.458468
2,0.771687,0.696844,0.209547,0.799833,0.184949,0.477538,0.100931,0.571805,0.445953,0.091355,...,0.987561,0.265309,0.523997,0.893010,0.814385,0.869852,0.834847,0.151568,0.715351,0.851851
3,0.833706,0.343304,0.546070,0.189721,0.748266,0.720321,0.572192,0.818920,0.653422,0.100361,...,0.905041,0.219833,0.034327,0.786260,0.281043,0.118316,0.728774,0.265635,0.031910,0.464940
4,0.444447,0.158519,0.785677,0.971207,0.577813,0.122755,0.464748,0.866769,0.599739,0.564311,...,0.279699,0.251484,0.859421,0.002382,0.577320,0.423815,0.723040,0.007536,0.607126,0.941227

HIPÓTESE ALTERNATIVA: Os DF são diferentes.

HIPOTESE NULA: Os dois DF são iguais?

p-value baixo: evidência contra a hipótese nula.


p-value alto: pouca ou nenhuma evidência contra a hipótese nula.

p-value verifica se há uma diferença significativa na média da um conjunto.

In [55]:
def test_columns(alpha=0.1):
    num_diff=0
    for c in df1.columns:
        teststat, pvalue = list(ttest_ind(df1[c], df2[c]))
        if pvalue <= alpha:
            print(f'Col {c} is statistically significantly different at alpha={alpha}, pval={pvalue}')
            num_diff += 1
            # print(pvalue)
            # print(c)  
    # return f'Total number different columns: {num_diff / len(df1.columns) * 100}'

In [56]:
test_columns()

Col 12 is statistically significantly different at alpha=0.1, pval=0.0908990918631693
Col 24 is statistically significantly different at alpha=0.1, pval=0.058268491264744086
Col 26 is statistically significantly different at alpha=0.1, pval=0.0578856745907176
Col 54 is statistically significantly different at alpha=0.1, pval=0.0519808289842204
Col 76 is statistically significantly different at alpha=0.1, pval=0.04715764436943404
Col 83 is statistically significantly different at alpha=0.1, pval=0.04755397787361732
Col 90 is statistically significantly different at alpha=0.1, pval=0.05436613101524525

In [57]:
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.05689480106607317
Col 1 is statistically significantly different at alpha=0.1, pval=0.015165632757210029
Col 2 is statistically significantly different at alpha=0.1, pval=2.847675598827384e-06
Col 3 is statistically significantly different at alpha=0.1, pval=0.014194193416859733
Col 4 is statistically significantly different at alpha=0.1, pval=0.0005060931699423228
Col 5 is statistically significantly different at alpha=0.1, pval=9.185506750806281e-05
Col 6 is statistically significantly different at alpha=0.1, pval=0.00016429688664218055
Col 7 is statistically significantly different at alpha=0.1, pval=0.0004736853494690171
Col 8 is statistically significantly different at alpha=0.1, pval=0.00016906853646695037
Col 9 is statistically significantly different at alpha=0.1, pval=3.231014392242754e-06
Col 10 is statistically significantly different at alpha=0.1, pval=9.144999743294058e-06
Col 11 is statistically significantly different at alpha=0.1, pval=0.0019493819807708537
Col 12 is statistically significantly different at alpha=0.1, pval=0.00012645763363669873
Col 13 is statistically significantly different at alpha=0.1, pval=1.5659891038731677e-05
Col 14 is statistically significantly different at alpha=0.1, pval=0.00019931885469640727
Col 15 is statistically significantly different at alpha=0.1, pval=0.00020552704099716755
Col 16 is statistically significantly different at alpha=0.1, pval=0.00040944680834967273
Col 17 is statistically significantly different at alpha=0.1, pval=0.0007187275550429935
Col 18 is statistically significantly different at alpha=0.1, pval=0.0006473985508773625
Col 19 is statistically significantly different at alpha=0.1, pval=5.2039299259268036e-05
Col 20 is statistically significantly different at alpha=0.1, pval=0.00029265518350985733
Col 21 is statistically significantly different at alpha=0.1, pval=0.001962501495774751
Col 22 is statistically significantly different at alpha=0.1, pval=0.0005682896133601362
Col 23 is statistically significantly different at alpha=0.1, pval=0.00018522302106312947
Col 25 is statistically significantly different at alpha=0.1, pval=1.878583145154307e-05
Col 26 is statistically significantly different at alpha=0.1, pval=0.0003126413162767901
Col 27 is statistically significantly different at alpha=0.1, pval=0.00012203303938645983
Col 28 is statistically significantly different at alpha=0.1, pval=5.945943790785111e-06
Col 29 is statistically significantly different at alpha=0.1, pval=0.0016518584439865044
Col 30 is statistically significantly different at alpha=0.1, pval=9.960268359477762e-06
Col 31 is statistically significantly different at alpha=0.1, pval=4.558708871583197e-05
Col 32 is statistically significantly different at alpha=0.1, pval=0.0002986683207542729
Col 33 is statistically significantly different at alpha=0.1, pval=2.6310087938350274e-05
Col 34 is statistically significantly different at alpha=0.1, pval=0.007973009234171931
Col 35 is statistically significantly different at alpha=0.1, pval=0.0002752983331468355
Col 36 is statistically significantly different at alpha=0.1, pval=0.001116927897574205
Col 37 is statistically significantly different at alpha=0.1, pval=0.008874918401487587
Col 38 is statistically significantly different at alpha=0.1, pval=0.0018820505606896513
Col 39 is statistically significantly different at alpha=0.1, pval=0.0009756559056768346
Col 40 is statistically significantly different at alpha=0.1, pval=8.653731577040224e-06
Col 41 is statistically significantly different at alpha=0.1, pval=1.3221276981791038e-05
Col 42 is statistically significantly different at alpha=0.1, pval=0.013318949067965548
Col 43 is statistically significantly different at alpha=0.1, pval=0.008282358988730027
Col 44 is statistically significantly different at alpha=0.1, pval=7.010892242162293e-05
Col 45 is statistically significantly different at alpha=0.1, pval=0.00020489824105065715
Col 46 is statistically significantly different at alpha=0.1, pval=0.002978052836169155
Col 47 is statistically significantly different at alpha=0.1, pval=9.285936502210778e-05
Col 48 is statistically significantly different at alpha=0.1, pval=1.2089046784804277e-05
Col 49 is statistically significantly different at alpha=0.1, pval=5.292758216323682e-05
Col 50 is statistically significantly different at alpha=0.1, pval=6.865476439146131e-07
Col 51 is statistically significantly different at alpha=0.1, pval=0.004220730201442773
Col 53 is statistically significantly different at alpha=0.1, pval=4.756377389614111e-05
Col 54 is statistically significantly different at alpha=0.1, pval=0.0038687425605465767
Col 55 is statistically significantly different at alpha=0.1, pval=0.0009967912629971762
Col 56 is statistically significantly different at alpha=0.1, pval=0.0002953440577665662
Col 57 is statistically significantly different at alpha=0.1, pval=0.000255827140339946
Col 58 is statistically significantly different at alpha=0.1, pval=0.0004103459129126519
Col 59 is statistically significantly different at alpha=0.1, pval=6.276623586596561e-05
Col 60 is statistically significantly different at alpha=0.1, pval=0.001697076368706714
Col 61 is statistically significantly different at alpha=0.1, pval=0.0017079638783740222
Col 62 is statistically significantly different at alpha=0.1, pval=9.910195798340998e-05
Col 63 is statistically significantly different at alpha=0.1, pval=0.0012296723196103163
Col 64 is statistically significantly different at alpha=0.1, pval=0.005602410047451144
Col 65 is statistically significantly different at alpha=0.1, pval=0.003943395398863573
Col 66 is statistically significantly different at alpha=0.1, pval=0.0005414178060548495
Col 67 is statistically significantly different at alpha=0.1, pval=0.023571735718897514
Col 68 is statistically significantly different at alpha=0.1, pval=5.597961244426722e-05
Col 70 is statistically significantly different at alpha=0.1, pval=1.8004911449920794e-07
Col 71 is statistically significantly different at alpha=0.1, pval=0.0024133152591223317
Col 72 is statistically significantly different at alpha=0.1, pval=0.02989729529172878
Col 73 is statistically significantly different at alpha=0.1, pval=3.389686764693628e-05
Col 74 is statistically significantly different at alpha=0.1, pval=0.0009595610741541091
Col 75 is statistically significantly different at alpha=0.1, pval=1.716952382048855e-05
Col 76 is statistically significantly different at alpha=0.1, pval=0.0008679796001494094
Col 77 is statistically significantly different at alpha=0.1, pval=0.00011000870500007729
Col 78 is statistically significantly different at alpha=0.1, pval=0.0002797090522862787
Col 79 is statistically significantly different at alpha=0.1, pval=0.019588232902983106
Col 80 is statistically significantly different at alpha=0.1, pval=0.00030548875425642845
Col 81 is statistically significantly different at alpha=0.1, pval=0.008088735550719294
Col 82 is statistically significantly different at alpha=0.1, pval=0.0005592947130784176
Col 83 is statistically significantly different at alpha=0.1, pval=0.0013546643681951016
Col 84 is statistically significantly different at alpha=0.1, pval=0.0026128065158924577
Col 85 is statistically significantly different at alpha=0.1, pval=0.00021252985908034583
Col 86 is statistically significantly different at alpha=0.1, pval=0.0013672952210828425
Col 87 is statistically significantly different at alpha=0.1, pval=9.70310521287317e-07
Col 88 is statistically significantly different at alpha=0.1, pval=0.00030344586936587666
Col 89 is statistically significantly different at alpha=0.1, pval=0.001275339054947819
Col 90 is statistically significantly different at alpha=0.1, pval=4.757359414328454e-06
Col 91 is statistically significantly different at alpha=0.1, pval=0.0027052303714256163
Col 92 is statistically significantly different at alpha=0.1, pval=0.0008794057595725099
Col 93 is statistically significantly different at alpha=0.1, pval=0.0018186693701793025
Col 94 is statistically significantly different at alpha=0.1, pval=0.000423398864462557
Col 95 is statistically significantly different at alpha=0.1, pval=0.0003333539257356426
Col 96 is statistically significantly different at alpha=0.1, pval=0.0003306449907486751
Col 97 is statistically significantly different at alpha=0.1, pval=9.385120299414899e-05
Col 98 is statistically significantly different at alpha=0.1, pval=0.03629489013695838
Col 99 is statistically significantly different at alpha=0.1, pval=0.002778317539172622